*{
	margin: 0px;
	padding: 0px;
}

.container{
	width: 1140px;
	margin: 0px auto;
	display: block;
}

.container-logo{

}

.logo{
	width: 180px;
	margin: 20px auto;
	display: block;
}

.under-line{
	border-bottom: 1px solid #A7A9AC;
	width: 100%;
	display: block;
	margin-top:20px;
	
}

h1{
	font-size: 20px;
	text-align: center;
	font-family: sans-serif;
	margin-top: 20px;
}

.color1{
	color: #1C75BC
}
.color2{
	color: #EA4335
}
.color3{
	color: #34A851
}
.color4{
	color: #FABB15
}

.team{

}
.teampic{
	width: 100%;
	margin: 20px;
}

h2{
	font-size: 30px;
	font-family: sans-serif;
	margin: 20px;
}

p{
	font-size: 15px;
	font-weight: bold;
	line-height: 1.5;
	font-family: sans-serif;
	margin: 20px;
}

h3{
	font-size: 30px;
	font-family: sans-serif;
	text-align: center;
	color: #FFFFFF;
	background-color: #069662;
	margin: 0px auto;
	padding: 50px;
	margin: 20px;

}
